/coin-300.jpg.out.bin
/coin-300.jpg.out.jpg
/coin.jpg.out.bin
/coin.jpg.out.jpg
/flower - Copy.jpg
/outimg - Copy.jpg
/outimg.jpg
/outimg.pixels.txt
/outnet.bin
/thetta
/img
/THETTA1.mat
/THETTA2.mat
